name: Deploy ai_full

on:
  workflow_dispatch:  # 允许手动触发
  push:
    branches:
      - master   # push 到 master 分支触发部署

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.AWS_HOST }}
        username: ubuntu
        key: ${{ secrets.AWS_SSH_KEY }}
        passphrase: ${{ secrets.SERVER_SSH_PASSPHRASE }}
        port: 22
        script: |
          cd /home/ubuntu/work_space/ai_full
          ./deploy.sh
